<!DOCTYPE html>

<html>

    <head>
        <title>Propietario</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../../public/vendors/css/normalize.css">
        <link rel="stylesheet" href="../../public/vendors/css/grid.css">
    </head>

    <body>
        
        {{>header}}
            <div class="main-content">
                <h1>Propietario</h1>
                <div class="main-content-body">
                    <div class="propietario-navbar">
                        <ion-icon name="home"></ion-icon>
                        <a href="/propietario/inmuebles">Tus inmuebles</a>
                        <a href="/propietario/escogerInmobiliaria">Escoger inmobiliaria</a>
                        <a href="/propietario/agregarInmueble">Agregar inmueble</a>
                    </div>
                    
                    <div class="addPropertyForm">
                        <h3>Agregar Inmueble</h3>
                        <form method="POST" action="/propietario/agregarInmueble">
                            <label>Tipo de inmueble:</label>
                            <select name="realStateType" id="realStateType">
                                <option value="Apartamento">Apartamento</option>
                                <option value="Casa">Casa</option>
                                <option value="Apartaestudio">Apartaestudio</option>
                                <option value="Local">Local</option>
                                <option value="Cabaña">Cabaña</option>
                                <option value="Deposito">Deposito</option>
                            </select> <br> <br>
                            <input type="text" name="address" id="address" placeholder="Dirección del inmueble"> <br>
                            <input type="text" name="neighborhoodName" id="neighborhoodName" placeholder="Nombre del barrio"> <br>
                            <input type="text" name="city" id="city" placeholder="Ciudad"> <br>
                            <input type="text" name="country" id="country" placeholder="País"> <br>
                            <input type="number" name="rentCost" id="rentCost" placeholder="Valor mensual del arriendo" class="rentCostInput"> <br> <br>
                            <button>Agregar fotos</button> <br> <br>
                            <button>Crear Inmueble</button>
                        </form>  
                    </div>  
                </div>    
            </div>

        {{>footer}}
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
    
</html>