<!DOCTYPE html>

<html>

    <head>
        <title>Arrendatario</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
    </head>

    <body>
        {{>header}}
            <div class="main-content">
                <h1>Arrendatario</h1>
                <div class="main-content-body">
                    <h2>Inmuebles Arrendados</h2>
                    <div class="propertyData">
                        <label>Id del inmueble: </label> 
                        <p>property id goes here (from database)</p> 
                        <label>Tipo de inmueble: </label>
                        <p>Property type goes here (from database)</p>
                        <label>Dirección: </label>
                        <p>property address goes here (from database)</p>
                        <label>Ciudad: </label>
                        <p>Property city goes here (from database) </p>
                        <label>Pais: </label>
                        <p>Propety country goes here (from database) </p>
                        <label>Valor del renta: </label>
                        <p>property rent cost goes here  (from database)</p>
                        <p>The main image should go here</p>
                        <a href="/arrendatario/contrato"></a> Ver contrato
                        <a href="/arrendatario/ceder">Ceder</a> 
                        <a href="/arrendatario/entregar">Entragar</a> 
                    </div>  
                </div>        
            </div>
        {{>footer}}
    </body>
    
</html>