<!DOCTYPE html>

<html>

    <head>
        <title>Inmueble</title>
         <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    </head>

    <body>
        {{>header}}
            <div class="main-content">
                <h1>Inmueble</h1>
            </div>
         {{>footer}}
    </body>
    
</html>