<div class="property_card">
    <p>{%REALSTATETYPE%}</p>
    <p>{%NEIGHBORHOOD%}</p>
    <h4>{%ADDRESS%}</h4>
    <p>${%RENTCOST%}</p>
     <a href="/inmuebles/ver?id={%ID%}">
        <span>Ver</span>
    </a>
</div>
