<header>
    <a href="/">
        <img class="logo" src="/img/tuinmueblelogo.jpg">
    </a>
    <h1>{{title}}</h1>
    <a href="/inmobiliaria">Inmobiliaria</a>
    <a href="/propietario">Propietario</a>
    <a href="/arrendatario">Arrendatario</a>
    <a href="/inmuebles">Inmuebles</a>
  
    

</header>