<!DOCTYPE html>

<html>

    <head>
        <title>Arrendatario</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h1>Propietario</h1>
            <div>
                <h4>Nombre(s):</h4>
                <h4>Apellidos:</h4>
                <h4>Número de identificación:</h4>
                <h4>E-mail:</h4>
                <h4>Teléfono:</h4>
                <h4>Teléfono alternativo:</h4>
            </div>
        </div>
        
        {{>footer}}
    </body>
    
</html>